.conteiner{
    margin-left: 40px;
}
.first{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
}

.four a{
    /* transition: 1s; dfg*/
    background-color: aliceblue;
    color: white;
    width: 20px;
}
.four a :hover{
    border: none;
    background-color: blue;
    color: blue;
    /* transform: scale(1.1); */
}

.box{
    border: 1px solid black;
  background-color: black;
    padding: 10px;
    
}
a{
    text-decoration: none;
    color: white;

}

video
{
   width: 100%;
    height: 90vh;
    background-color: black;
    
}
.text{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 250px;
    left: 100px;
    z-index: 3;
    color: white;
    align-items: center;
    justify-content: center;
  }
.secon{
    margin: left 30px;
    border: 1px solid grey;
    width: 445px;
    background-color: blue;
    height: 600px;
 
}
.secon p{
    margin-top: 200px;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: blue;
    
}
.contein{
    /* border: 1px solid rgb(250, 239, 239); */
    margin-bottom: 5px;
      
}
.contein p{
    background-color: black;
    color: white;
    height: 400px;
    
}

.cart{
    /* border: 1px solid grey ; */
    height: 250px;
    width: 1310px;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
}
.cart p{
    margin-left: 20px;
    text-align: center;
}
/* .cart img{
    margin-left: 100px;
} */
.cart .one{
    margin-left: 60px;
}
.cart .four{
    margin-right: 60px;
}
.end{
    margin-bottom: 60px;
}